<!DOCTYPE HTML>
<html lang="en" data-framework="angularjs">
<head>
    <title>Gymnasium App</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro"
          rel="stylesheet"/>
    <!--[if lte IE 8]>
    <script src="js/vendor/html5shiv.js" type="text/javascript"></script><![endif]-->
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/canvasjs.min.js"></script>

    <script type="text/javascript" src="js/canvas-charts.js"></script>
    <script src="js/main.js"></script>
    <script src="js/vendor/skel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/angular.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="js/vendor/angular.js"></script>
</head>
<body>
<div class="container">
    <!-- Nav -->

    <div id="main" ng-app>
            <div class="row flush header">
                <div id="logo"></div>
                <div class="button" id="login">
                    <button href="#">Login</button>
                </div>

            </div>
        <nav class="{{active}}" ng-click="$event.preventDefault()">
            <a href="#" ng-click="active='home'" class="home">Home</a>
            <a href="#" ng-click="active='Gym locations'" class="locations">Gym locations</a>
            <a href="#" ng-click="active='classes'" class="classes">Class Schedule</a>
            <a href="#" ng-click="active='stats'" class="stats">Workout Statistics</a>
            <a href="#" ng-click="active='bmi'" class="bmi">BMI calculator</a>
            <a href="#" ng-click="active='contact'" class="contact">Contact us</a>
        </nav>

    </div>
    <section>
        <div class="u">
            <img src="img/TF_Home4.jpg" alt="workout"/>
        </div>
    </section>


    <!-- Footer -->
    <div id="footer">
        &copy; Example. All rights reserved.
    </div>
</div>
</div>
</body>
</html>
