Skip to content
 
This repository
<!DOCTYPE HTML>
<html lang="en" data-framework="angularjs">
<head>
    <title>Gymnasium App</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro"
          rel="stylesheet"/>
    <!--[if lte IE 8]>
    <script src="js/vendor/html5shiv.js" type="text/javascript"></script><![endif]-->
    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/canvasjs.min.js"></script>

    <script type="text/javascript" src="js/canvas-charts.js"></script>
    <script src="js/main.js"></script>
    <script src="js/vendor/skel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular.css"/>
    <script src="js/vendor/angular.js"></script>
</head>
<body>
<div class="container">
    <!-- Nav -->
    <div id="main" ng-app>
        <nav class="{{active}}" ng-click="$event.preventDefault()">
            <a href="#" ng-click="active='home'" class="home">Home</a>
            <a href="#" ng-click="active='Gym locations'" class="locations">Gym locations</a>
            <a href="#" ng-click="active='classes'" class="classes">Class Schedule</a>
            <a href="#" ng-click="active='stats'" class="stats">Workout Statistics</a>
            <a href="#" ng-click="active='bmi'" class="bmi">BMI calculator</a>
            <a href="#" ng-click="active='contact'" class="contact">Contact us</a>
        </nav>
        <!-- Header -->
        <div id="header" class="row">
            <div class="4u">
                <h1>THE GYMNASIUM</h1>
            </div>

        </div>
        <p ng-hide="active">Please click a menu item</p>

        <p ng-show="active">You chose <b>{{active}}</b></p>
    </div>
    <section>
        <h1>The Exercise Statistics</h1>


        <div class="row">
            <div class="-2u 8u">
                <div id="chartContainer_1" style="height:400px; width:100%;"></div>
            </div>
        </div>

        <div class="row">
            <div class="-2u 8u">
                <div id="chartContainer_2" style="height:400px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="-2u 8u">
                <div id="chartContainer_3" style="height:400px;">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div id="footer">
        &copy; Example. All rights reserved.
    </div>
</div>
</body>
</html>
