<h4>Find a Gym Coach</h4>
<div>
    <div class="row">
        <div class="-4u 6u">
            <!--Search Functionality-->
            <input ng-model="query"
                   placeholder="Search"
                   id="ngsearch">
            </br> </br>
            <h4>Sort by</h4>
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="price">Lowest Price</option>
                <option value="-price">Highest Price</option>
                <option value="category">Category</option>
                <option value="coachemail">Email address</option>
                <option value="-created_at">Created at</option>
                <option value="-updated_at">Updated at</option>
                <option value="-id">id</option>
            </select>
        </div>

        <div class="row">
            <div class="-4u 8u">
                <!--Table of Products-->
                <ul>
                    <li class="jsonli"
                        ng-repeat="coach in coachList | filter:query | orderBy:orderProp"
                        ng-class-odd="myclass">

                        <table>
                            <tbody>
                            <tr>
                                <td title="image">
                                    <figure><img ng-src="./img/{{coach.image_url}} ">
                                    <figcaption>{{myFirstName(coach.name)}}</figcaption>
                                    </figure>
                                </td>
                                <td>{{coach.category}}</td>
                                <td>{{coach.name}}</td>
                                <td>{{coach.description}}</td>
                                <td>{{coach.price | nfcurrency:"&euro;" }}/hr</td>
                                <td>{{coach.coachemail}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



