<h4>Listing commodities (Json)</h4>

<div>
    <div class="row">
        <div class="-4u 6u">
            <!--Search Functionality-->

            <h4>Search</h4> <input ng-model="query"
                                   placeholder="Search"
                                   id="ngsearch"
                                   > </br> </br>
            <h4>Sort by</h4>
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="price">Lowest Price</option>
                <option value="-price">Highest Price</option>
                <option value="category">Category</option>

                <option value="-created_at">Created at</option>
                <option value="-updated_at">Updated at</option>
                <option value="-id">id</option>

            </select>
        </div>

        <div class="row">
          <div class="-4u 8u">
            <!--Table of Products--><div>Product Listing</div>
            <ul>
                <li class="jsonli" ng-repeat="product in commodities | filter:query | orderBy:orderProp">

                    <table class="jsonTable">
                        <tr>

                            <td title="Name">
                                {{product.name}}
                            </td>
                            <td>{{(product.price) | currency:"&euro;"}}</td>
                            <td title="Sales Price">{{ markup(product.price) | currency:"&euro;" }}</td>
                            <td title="Category">{{product.category}}</td>
                        </tr>
                   </table>
                </li>
            </ul>
          </div>
        </div>
    </div>
</div>



